<header class="fixed bg-white w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <div class="w-100 tc">
    <a class="" href="index.html" title="Home">
      <img src="/assets/img/logo-magikey.svg" class="dib w4" alt="Site Name">
    </a>
  </div>
  <div id="nav-icon1">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="dib f5 tc tr-ns w-100 main_navigation">
    <a class="link dim mr4" href="features.html" title="Home">Como funciona?</a>
    <a class="link dim mr4" href="#" title="About">Blog</a>
    <a class="link dim mr4" href="#" title="Store">Sign In</a>
    <span class="">(19) 3287-6678</span>
  </nav>
</header>
